* {
    margin: 0;
    padding: 0;
}

body, html, select, input, button {
    /*background-color: #232428;*/
    /*color: #c7d8de;*/
    /*border-color: #5f6388;*/
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
